article.live-example,
article.live-example input,
article.live-example textarea,
article.live-example select {
    
    font-size: 10pt;
    color: #555;
    
}
article.live-example * {
    
    box-sizing: border-box;
    font-family: Arial;
    
}
