article.live-example {

    --base-color: #555;
    --base-font-size: 10pt;
    &, input, textarea, select {

        font-size: var(--base-font-size);
        color: var(--base-color);

    }
    * {

        box-sizing: border-box;
        font-family: Arial;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

    }
    .storage-status {

        padding: 10px;
        .connection {

            border: solid 1px black;
            color: black;
            opacity: 0.3;
            margin: 0 10px;
            padding: 5px 10px;
            &.connected {

                color: green;
                background-color: #EFE;
                border-color: green;

            }

        }

    }
    dialog {

        position: fixed;
        top: 40px;
        left: 40px;
        right: 40px;
        bottom: 40px;
        width: calc(100vw - 80px);
        height: calc(100vh - 80px);
        border: none;
        box-shadow: 0 0 30px -10px;
        border-radius: 10px;
        padding: 20px;

    }
    .provider-chooser {

        padding: 10px 0;
        .providers-loading,
        .providers {

            margin: 0;
            padding: 0;
            list-style: none;
            li {

                display: block;
                button {

                    text-align: center;
                    max-width: 120px;
                    padding: 10px;
                    .icon {

                        margin-bottom: 10px;

                    }

                }

            }

        }

    }

    .saving {

        display: flex;
        flex-direction: column;
        height: calc(100vh - 120px);
        overflow: hidden;
        header {

            padding: 10px 0;
            h2 {

                margin: 0;
                display: inline-block;

            }

        }
        .provider-chooser {

            flex: 1;

        }
        .selected-provider {

            overflow: hidden;
            display: flex;
            height: 100%;
            max-height: 100%;
            flex-wrap: wrap;
            .folder-list-folder {

                padding: 10px;
                font-size: 12pt;
                width: 100%;
                text-align: left;
                border: none;
                outline: none;
                border-bottom: solid 0.1px #EEE;
                margin-bottom: 5px;

            }
            .folder-list {

                margin: 0;
                padding: 0;
                list-style: none;

                overflow-y: hidden;
                flex-basis: auto;
                max-height: 0px;
                transition: max-height 0.2s, overflow-y 0s;

                li {

                    white-space: nowrap;
                    button {

                        width: 100%;
                        text-align: left;
                        background-color: transparent;
                        border: none;
                        display: block;
                        outline: none;
                        font-size: 10pt;
                        &::before {

                            content: "📁";
                            margin-right: 10px;

                        }

                    }

                }

            }
            .selected {

                flex: 1;
                display: flex;
                flex-direction: column;
                .folder-list {

                    flex: 1;
                    overflow-y: auto;
                    max-height: 100%;
                    transition: overflow-y 0s, max-height 0.2s;

                }

            }
            .folder-browsers {

                flex: 1 1 50%;
                display: flex;
                flex-direction: column;
                padding-left: 20px;

            }
            .selected-folder {

                flex: 1 1 50%;
                background-color: #F7F7F7;
                padding: 20px;
                h2 {

                    margin: 0;
                    font-size: 20pt;

                }

            }

        }

    }

}